body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: bebas-kai, sans-serif;
}

p {
  font-family: 'Manrope', sans-serif;
}

/*MENÚ WHITE*/
.menu-white {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  align-items: center;
}

.buscar {
  border: 1px solid #575757;
  border-radius: 50px;
  width: 350px;
  height: 30px;
}

.buscar i {
  color: #575757;
  margin: 5px 8px;
}

.buscar-input {
  background: transparent;
  border: none;
  font-family: bebas-kai, sans-serif;
}

.redes {
  color: #575757;
  font-size: 20px;
  margin-left: 10px;
}

.redes i {
  margin: 0 10px;
}

/*HEADER*/
.header {
  background: url("../images/articulo1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.logo-blanco {
  width: 10%;
  margin: 15px 80px 0 80px;
}

.text-header {
  color: #ffff;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.text-header h1 {
  font-size: 5rem;
  letter-spacing: 4px;
}

.text-header h3 {
  font-size: 2.2rem;
}

.text-header button {
  font-family: bebas-kai, sans-serif;
  width: 120px;
  height: 35px;
  background-color: #ffff;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
}

/*CATEGORIES*/
.categ-icon {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  list-style: none;
}

.categ-icon a {
  font-family: bebas-kai, sans-serif;
  font-size: 2rem;
  color: #dbdcdc;
  text-decoration: none;
}

.categ-icon img {
  margin-right: 10px;
  filter: invert(80%);
}

.categ-icon a:hover {
  color: #575757;
}

.categ-icon img:hover {
  filter: invert(30%);
}

.active img {
  filter: none;
}

.categ-icon .active {
  color: #000000;
}

/*ARTICULOS*/
.articulos {
  width: 100%;
  height: 2900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.articulo {
  width: 1900px;
  display: flex;
  justify-content: center;
}

.art2, .art4 {
  flex-direction: row-reverse;
}

.articulo img {
  width: 40%;
}

.articulo-text {
  color: #575757;
  width: 50%;
  margin: 0 20px;
  text-align: justify;
}

.articulo-text p {
  font-size: 1.2rem;
}

.articulo-text button {
  font-family: bebas-kai, sans-serif;
  color: #575757;
  width: 120px;
  height: 35px;
  background-color: #ffff;
  border: 1px solid #575757;
  border-radius: 20px;
  font-size: 1.4rem;
  margin: 10px 0 10px 0;
}

.articulo-text ul {
  list-style: none;
  padding: 0;
}

.articulo-text a {
  text-decoration: none;
  color: #575757;
}

.articulo-text .icon {
  margin: 0 15px;
}

.compartir i {
  margin: 0 10px;
  font-size: 1.5rem;
}

/*CAJA COMENTARIO*/
.caja-comentario {
  font-family: bebas-kai, sans-serif;
  border-top: 1px solid #575757;
  border-bottom: 1px solid #575757;
  display: flex;
  flex-flow: column;
  justify-content: center
  flex-wrap: wrap;
  margin: 0 100px;
  padding: 50px;
}

.caja-comentario h1 {
  font-size: 4rem;
  color: #575757;
}

.caja-comentario textarea {
  border-top: 1px solid #575757;
  border-radius: 15px;
  padding: 10px;
}

.datos {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.datos input {
  border: 1px solid #575757;
  border-radius: 15px;
  background-color: none;
  width: 49%;
  padding: 10px;
}

.caja-comentario button {
  align-self: center;
  width: 150px;
  height: 40px;
  background-color: #618fc3;
  border: none;
  border-radius: 10px;
  color: #ffff;
  font-size: 1.2rem;
  margin-top: 10px;
}

/*SLIDE-ARTICULOS*/
.slide-articulos {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.box {
  width: 350px;
  height: 540px;
  background-color: #f6f6f6;
  margin: 50px 60px;
}

.box img {
  width: 350px;
}

.box-texto {
  color: #575757;
  padding: 20px;
  text-align: justify;
}

.box-texto button {
  font-family: bebas-kai, sans-serif;
  background-color: #618fc3;
  border: none;
  border-radius: 20px;
  width: 120px;
  color: #ffff;
  margin-left: 190px;
}

/*FOOTER*/
.footer {
  background-color: #4B4F52;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
}

.logo-footer {
  width: 450px;
  margin-right: 150px;
}

.list-footer {
  width: 250px;
  color: #ffff;
  margin-top: 50px;
}

.list-footer ul {
  font-family: bebas-kai, sans-serif;
  font-size: 1rem;
  list-style: none;
  padding: 0;
}

.copyright {
  color: #ffff;
  border-top: 1px solid #ffff;
  text-align: center;
  font-size: 1rem;
  width: 1300px;
}

.copyright p {
  font-family: bebas-kai, sans-serif;
  margin-top: 10px;
}

/*--responsive for mobile phone--*/
@media(max-width:1024px){
  /*HEADER*/
  .logo-blanco {
    width: 20%;
    margin-left: 400px;
  }

  /*ARTÍCULOS*/
  .articulos {
    height: 4500px;
  }

  .articulo {
    flex-flow: column;
    align-items: center;
  }

  .articulo img {
    width: 50%;
  }

  .compartir i{
    margin: 10px 0;
  }

  /*SLIDE ARTÍCULOS*/
  /*FOOTER*/
  .logo-footer {
    margin: 0;
    width: 300px;
  }

  .list-footer {
    width: 100%;
    text-align: center;
  }

  .copyright {
    margin-top: 50px;
  }
}
