* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, a {
  font-family: bebas-kai, sans-serif;
}

p{
  font-family: 'Manrope', sans-serif;
}

/*MENU PRINCIPAL*/
.menu-principal {
  background-color: #B55352;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.logo-blanco {
  position: relative;
  width: 9%;
}

.menu-items {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
}

.menu-items a {
  text-decoration: none;
  color: #ffff;
  font-size: 1.5rem;
}

.menu-items a:hover {
  color: #272A2B;
}

.blog-list {
  position: absolute;
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  display: none;
}

.blog-a:hover .blog-list {
  display: inline;
}

.blog li a {
  color: #B55352;
}

/*ARTÍCULO*/
.articulos {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.articulo-solo {
  width: 40%;
  height: 200px;
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.articulo-solo h1 {
  margin-left: 50px;
  font-size: 6rem;
}

.articulo-solo img {
  width: 200px;
}

.articulo-solo-text {
  width: 60%;
}

.articulo-solo p {
  text-align: left;
}

.articulo-solo h3 {
}

/*FOOTER*/
.footer {
  background-color: #4B4F52;
  height: 400px;
}

.logo-footer {
  width: 300px;
  position: relative;
  top: 100px;
  right: 50px;
}

.list-footer {
  position: relative;
  top: 100px;
  left: 20px;
  padding: 0;
  line-height: 3;
  color: #ffff;
}

.list-footer h4 {
  font-size: 1.7rem;
}

.list-footer ul {
  font-size: 0.8rem;
  list-style: none;
  padding-left: 0;
}

.copyright {
  color: #ffff;
  position: relative;
  text-align: center;
  top: 130px;
  font-size: 0.7rem;
}
