body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: bebas-kai, sans-serif;
}

p {
  font-family: 'Manrope', sans-serif;
}

/*HEADER*/
.header {
  background: url("../images/banner-cielo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.banner-nube {
  position: relative;
  width: 90%;
  bottom: 50px;
  left: 370px;
}

.banner-frase {
  position: relative;
  width: 63%;
  left: 200px;
  top: 85px;
}

.logo-blanco {
  width: 13%;
  margin: 20px 50px;
}

/*CATEGORIAS*/
.categorias {
  margin: 150px 0;
}

.categoria-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 150px;
  color: #4B4F52;
}

.lista-categorias {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
  border-left: groove;
  border-color: #4B4F52;
}

.categoria-item {
  font-family: bebas-kai, sans-serif;
  font-size: 25px;
  text-align: center;
  color: #4B4F52;
  list-style: none;
  width: 100%;
  height: 119px;
  margin: 0 1px;
}

.icon-categoria {
  color: #4B4F52;
  font-size: 35px;
  margin: 25px 0 20px 0;
  width: 100%;
}

#carousel1 .carousel-item {
  height: 600px;
}

#carousel1 .carousel-caption {
  background-color: #686E73;
  opacity: 0.75;
  height: 450px;
  width: 300px;
  margin-bottom: 60px;
  text-align: left;
  line-height: 1.8;
  padding: 0;
  color: #ffff;
}

#carousel1 .carousel-caption h5 {
  font-size: 2.8rem;
  margin: 40px 25px;
  letter-spacing: 5px;
}

#carousel1 .carousel-caption p {
  font-size: 1.2rem;
  margin: 40px 25px;
}

/*ARTICULOS-PRINCIPAL*/
.articulo1 {
  background-color: #D9A64B;
  height: 1100px;
}

.articulo1-title {
  text-align: center;
  padding-bottom: 100px;
  color: #ffff;
  font-size: 4rem;
  padding-top: 120px;
}

.articulo1-texto{
  color: #ffff;
  line-height: 2;
  padding-top: 140px;
}

.articulo1-subtitle {
  font-size: 2.8rem;
  letter-spacing: 5px;
}

.articulo1-p {
  font-size: 1.4rem;
  margin-top: 50px;
}

.articulo1-imagen {
  position: relative;
  width: 90%;
  left: 100px;
}

/*LUGARES-PRINCIPAL*/
.lugar-favorito-title {
  font-size: 4rem;
  text-align: center;
  margin: 150px 0;
  color: #B55352;
}

.lugar-favorito {
  height: 800px;
}

#carousel2 img {
  width: 620px;
  position: relative;
  right: 10px;
  top: 40px;
}

#carousel2 .carousel-item {
  height: 520px;
}

#carousel2 .carousel-caption {
  position: relative;
  left: 650px;
  bottom: 390px;
  color: #395572;
  width: 520px;
  text-align: left;
  line-height: 2;
}

#carousel2 .carousel-caption h5 {
  font-family: bebas-kai, sans-serif;
  font-size: 3.5rem;
  color: #ffff;
  background-color: #B55352;
  letter-spacing: 2px;
}

#carousel2 .carousel-caption p {
  font-size: 1.5rem;
  margin-top: 50px;
  color: #4B4F52;
}

#carousel2 .carousel-control-prev {
  visibility: hidden;
}

#carousel2 .carousel-control-next {
  visibility: hidden;
}

/*CONTACTO*/



/*FOOTER*/
.footer {
  background-color: #4B4F52;
  height: 400px;
}

.logo-footer {
  width: 300px;
  position: relative;
  top: 100px;
  right: 50px;
}

.list-footer {
  position: relative;
  top: 100px;
  left: 20px;
  padding: 0;
  line-height: 3;
  color: #ffff;
}

.list-footer h4 {
  font-size: 1.7rem;
}

.list-footer ul {
  font-size: 0.8rem;
  list-style: none;
  padding-left: 0;
}

.copyright {
  color: #ffff;
  position: relative;
  text-align: center;
  top: 130px;
  font-size: 0.7rem;
}

/*TRYING RESPONSIVE*/
@media (max-width: 1200px) {
  .banner-frase {
    width: 45%;
    left: 250px;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 1000px;
  }

  .banner-frase {
    position: absolute;
    top: 380px;
    left: 245px;
    width: 50%;
  }

  .banner-nube {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 70px;
    margin: 0;
  }

  .logo-blanco {
    width: 20%;
    margin-left: 400px;
  }

  .lista-categorias {
    margin: 0 30px;
    border: none;
  }

  .carousel-item {
    height: 430px;
  }

  .categoria-item {
    font-size: 20px;
    width: 310px;
    height: 150px;
    border-bottom: groove;
    border-radius: 5px;
  }

  .icon-categoria {
    font-size: 50px;
    margin: 35px 0 20px 0;
    width: 100%;
  }

  #carousel1 .carousel-caption {
    margin-bottom: 150px;
    height: 200px;
    width: 500px;
  }

  #carousel1 .carousel-caption h5 {
    font-family: bebas-kai, sans-serif;
    font-size: 1.5rem;
    margin: 20px;
  }

  #carousel1 .carousel-caption p {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
  }

  .articulo1 {
    height: 1300px;
  }

  .articulo1-texto {
    text-align: center;
    padding-top: 0;
  }

  .articulo1-imagen {
    margin: 100px 20px 30px 0;
  }

  .lugar-favorito {
    height: 1000px;
  }

  #carousel2 .carousel-item {
    height: 1000px;
  }

  #carousel2 img {
    width: 100%;
  }

  #carousel2 .carousel-caption {
    left: 1px;
    top: 30px;
    color: #395572;
    width: 100%;
    text-align: left;
    line-height: 2;
  }

  .footer {
    height: 900px;
  }

  .logo-footer {
    width: 200px;
    left: 270px;
    top: 50px;
  }

  .list-footer {
    text-align: center;
  }

}
