body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: bebas-kai, sans-serif;
}

p {
  font-family: 'Manrope', sans-serif;
}

/*MENÚ WHITE*/
.menu-white {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  align-items: center;
}

.buscar {
  border: 1px solid #575757;
  border-radius: 50px;
  width: 350px;
  height: 30px;
}

.buscar i {
  color: #575757;
  margin: 5px 8px;
}

.buscar-input {
  background: transparent;
  border: none;
  font-family: bebas-kai, sans-serif;
}

.redes {
  color: #575757;
  font-size: 20px;
  margin-left: 10px;
}

.redes i {
  margin: 0 10px;
}

/*HEADER*/
.header {
  background: url("../images/banner-cielo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.banner-nube {
  position: relative;
  width: 85%;
  bottom: 80px;
  left: 150px;
}

.banner-frase {
  position: relative;
  width: 80%;
  left: 80px;
  top: 50px;
}

.logo-blanco {
  width: 10%;
  margin: 15px 80px;
}

/*CATEGORIES*/
.categories {
  background-color: #6699cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  color: #ffff;
}

.categ-titulo {
  margin: 20px 0;
  font-size: 3rem;
  margin-bottom: -4px;
}

.border-titulo {
  border-top: 4px solid #ffff;
  width: 8%;
}

.categ-icon {
  font-family: bebas-kai, sans-serif;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 200px;
}

.categ-icon a {
  text-decoration: none;
  color: #ffff;
}

.categ-icon img:hover {
  filter: none;
}

.categ-icon a:hover {
  color: #000000;
}

.categ-icon li {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.categ-icon img {
  width: 90px;
  filter: invert(100%);
  margin-bottom: 10px;
}

.active img {
  filter: none;
}

.active li {
  color: #000000;
}

.burger {
  display: none;
  position: absolute;
  margin-bottom: 40px;
}

.burger div{
  background-color: #ffff;
  width: 60px;
  height: 10px;
  margin: 5px;
}

/*ARTICULOS*/
.articulos {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articulo-simple {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.articulo-texto {
  background-color: #f6f6f6;
  color: #575757;
  width: 480px;
  padding: 30px;
}

.articulo-texto h1 {
  font-size: 2rem;
}

.articulo-texto p {
  text-align: justify;
}

.articulo-simple img {
  width: 480px;
  height: 350px;
}

.articulo-simple a {
  font-family: bebas-kai, sans-serif;
  background-color: #6699cc;
  border: none;
  border-radius: 8px;
  color: #ffff;
  font-size: 1.3rem;
  margin-left: 285px;
  width: 150px;
  height: 35px;
  text-decoration: none;
  padding-left: 40px;
  padding-top: 3px;
}

.articulo-simple a:hover {
  color: #ffff;
}

/*FOOTER*/
.footer {
  background-color: #4B4F52;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
}

.logo-footer {
  width: 25%;
}

.logo-footer img {
  width: 100%;
  margin: 30px;
}

.list-footer-main {
  display: flex;
  margin-top: 80px;
}

.list-footer {
  width: 250px;
  color: #ffff;
}

.list-footer ul {
  font-family: bebas-kai, sans-serif;
  font-size: 1rem;
  list-style: none;
  padding: 0;
}

.list-footer a {
  text-decoration: none;
  color: #ffff;
}

.list-footer a:hover {
  color: #6699cc;
}

.copyright {
  background-color: #4B4F52;
  color: #ffff;
  border-top: 1px solid #ffff;
  text-align: center;
  font-size: 1rem;
  height: 50px;
}

.copyright p {
  font-family: bebas-kai, sans-serif;
  margin-top: 10px;
}

/*TRYING RESPONSIVE*/
@media (max-width: 1200px) {
  .header {
    height: 600px;
  }

  .banner-frase {
    width: 75%;
    left: 100px;
    top: 90px;
  }

  .banner-nube {
    top: 10px;
  }
}

@media (max-width: 1024px) {

  .header {
    height: 1000px;
  }

  .banner-frase {
    position: absolute;
    top: 400px;
    left: 120px;
    width: 75%;
  }

  .banner-nube {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 160px;
    margin: 0;
  }

  .logo-blanco {
    width: 20%;
    margin-left: 400px;
  }

  .categories {
    height: 1200px;
    justify-content: space-evenly;
    padding-top: 50px;
  }

  .categ-icon {
    height: 1100px;
    margin: 0;
    padding: 0;
  }

  .categ-icon li {
    font-size: 2.5rem;
  }

  .categ-icon img {
    width: 120px;
  }

  .categ-titulo {
    margin: 0;
    text-align: center;
    font-size: 4rem;
  }

  .border-titulo {
    width: 20%;
  }

  .categ-icon {
    flex-direction: column;
    transform: translateX(100%);
  }

  .categories {
    overflow-x: hidden;
    height: 200px;
  }

  .burger {
    display: block;
    position: absolute;
  }

  .categ-icon-active {
    transform: translateX(0%);
  }

  .categories-active {
    height: 1200px;
  }

  .burger-active {
    position: static;
  }

  .footer {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .logo-footer {
    margin: 0;
    width: 300px;
  }

  .logo-footer img {
    margin: 0;
  }

  .list-footer-main {
    flex-direction: column;
    width: 40%;
    justify-content: space-evenly;
    margin-top: 0;
  }

  .list-footer {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

}

/*********************************ARTICULOS SOLO******************************/
/*ARTICULOS*/
.articulos2 {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
}

.articulo2 {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  margin: 5px;
}

.articulo2 img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.articulo2-text {
  color: #575757;
  text-align: justify;
  margin: 20px;
}

.articulo2-text p {
  font-size: 1.2rem;
}

.articulo2-text a {
    font-family: bebas-kai, sans-serif;
    color: #575757;
    width: 120px;
    height: 35px;
    background-color: #ffff;
    border: 1px solid #575757;
    border-radius: 20px;
    font-size: 1.4rem;
    margin: 10px 0 10px 0;
    text-decoration: none;
    padding: 0 20px;
}

.articulo2-text a:hover {
  color: #6699cc;
}

.articulo2-text ul {
  list-style: none;
  padding: 0;
}

.articulo2-text .icon {
  margin: 0 15px;
}

.compartir {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.compartir i {
  margin: 0 10px;
  font-size: 1.5rem;
}

/*CAJA COMENTARIO*/
.caja-comentario {
  font-family: bebas-kai, sans-serif;
  border-top: 1px solid #575757;
  border-bottom: 1px solid #575757;
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 100px;
  padding: 50px;
}

.caja-comentario h1 {
  font-size: 4rem;
  color: #575757;
}

.caja-comentario textarea {
  border-top: 1px solid #575757;
  border-radius: 15px;
  padding: 10px;
}

.datos {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.datos input {
  border: 1px solid #575757;
  border-radius: 15px;
  background-color: none;
  width: 49%;
  padding: 10px;
}

.caja-comentario button {
  align-self: center;
  width: 150px;
  height: 40px;
  background-color: #618fc3;
  border: none;
  border-radius: 10px;
  color: #ffff;
  font-size: 1.2rem;
  margin-top: 10px;
}

/*--responsive for mobile phone--*/
@media(max-width:1024px) {

  /*HEADER*/
  .logo-blanco {
    width: 20%;
    margin-left: 400px;
  }

  /*ARTÍCULOS*/
  .articulo2 {
    flex-flow: column;
    align-items: center;
  }

  .compartir i {
    margin: 10px 0;
  }

}


/*********************************VISTA ARTÍCULO******************************/
.header-vista-articulo {
  position: relative;
  text-align: center;
}

.vista-art-fondo {
  width: 100%;
  height: 950px;
  object-fit: cover;
}

.logo-blanco-vista {
  position: absolute;
  width: 10%;
  top: 15px;
  left: 80px;
}

.text-header-vista-articulo {
  width: 70%;
  position: absolute;
  top: 300px;
  left: 250px;
  color: #ffff;
  text-align: center;
}

.text-header-vista-articulo h1 {
  font-size: 5rem;
  letter-spacing: 4px;
}

.text-header-vista-articulo h3 {
  font-size: 2.2rem;
}

.text-header-vista-articulo button {
  font-family: bebas-kai, sans-serif;
  width: 120px;
  height: 35px;
  background-color: #ffff;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
}

/*ARTICULO DESPLIEGUE*/
.descripcion-articulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  margin: 80px 0;
}

.descripcion-articulo2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  margin: 80px 0;
}

.descripcion-imagenes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
}

.imagen-descripcion {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

.descripcion-imagenes-button {
  font-family: bebas-kai, sans-serif;
  font-size: 1rem;
  background-color: #ffff;
  width: 120px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 15px;
}

.descripcion-imagenes-button:hover {
  background-color: #618fc3;
  border-color: #618fc3;
  color: #ffff;
}

.mas-info {
  font-family: bebas-kai, sans-serif;
  list-style: none;
  margin: 10px;
  padding: 0;
  display: none;
}

.mas-info a {
  color: #000000;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.mas-info .icon {
  margin-right: 10px;
}

.mas-info a:hover {
  color: #618fc3;
}

.mas-info-active {
  display: block;
}

.descripcion-texto {
  width: 50%;
  text-align: justify;
  line-height: 2;
}

/*SLIDE-ARTICULOS*/
.slide-articulos {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.box {
  width: 350px;
  height: 540px;
  background-color: #f6f6f6;
  margin: 50px 60px;
}

.box img {
  width: 350px;
  height: 250px;
}

.box-texto {
  color: #575757;
  padding: 20px;
  text-align: justify;
}

.box-texto a {
  font-family: bebas-kai, sans-serif;
  background-color: #618fc3;
  border: none;
  border-radius: 20px;
  width: 120px;
  color: #ffff;
  margin-left: 190px;
  text-align: center;
  text-decoration: none;
}

.box-texto a:hover {
  background-color: #ffff;
  border: 1px solid #618fc3;
  color: #618fc3;
}


@media(max-width:1024px) {
  .logo-blanco-vista {
    position: absolute;
    width: 20%;
    left: 390px;
  }

  .imagen-descripcion {
    width: 110%;
  }

  .descripcion-articulo {
    flex-direction: column-reverse;
    align-content: center;
  }

  .descripcion-articulo2 {
    flex-direction: column-reverse;
    align-content: center;
  }

  .descripcion-texto {
    margin-bottom: 20px;
  }

  .google_map {
    width: 170%;
  }

  .text-header-vista-articulo {
    width: 70%;
    top: 300px;
    left: 150px;
  }
}
