* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, a {
  font-family: bebas-kai, sans-serif;
}

p{
  font-family: 'Manrope', sans-serif;
}

/*MENU PRINCIPAL*/
.menu-principal {
  background-color: #B55352;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.logo-blanco {
  position: relative;
  width: 9%;
}

.menu-items {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
}

.menu-items a {
  text-decoration: none;
  color: #ffff;
  font-size: 1.5rem;
}

.menu-items a:hover {
  color: #272A2B;
}

.blog-list {
  position: absolute;
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  display: none;
}

.blog-a:hover .blog-list {
  display: inline;
}

.blog li a {
  color: #B55352;
}

/*CATEGORIAS*/
.categorias {
  width: 100%;
  justify-content: space-around;
}

.categoria-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.first {
  background: linear-gradient(80.99deg, #FF936A -9.15%, rgba(255, 255, 255, 0) 101.03%);
  cursor: pointer;
}
.link-categoria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.second {
  background: linear-gradient(278.95deg, #D9A64B -6.24%, rgba(236, 236, 236, 0) 96.84%);
}
.third {
  background: linear-gradient(79.69deg, #B05150 -0.59%, rgba(255, 255, 255, 0) 101.01%);
}
.fourth {
  background: linear-gradient(295.26deg, #8CB7E7 19.55%, rgba(236, 236, 236, 0) 84.42%);
}
.fifth {
  background: linear-gradient(80.99deg, #4B4F52 -9.15%, rgba(255, 255, 255, 0) 101.03%);
}

.categoria-section img {
  width: 600px;
}

.section-text {
  width: 50%;
}

.categoria-section h1 {
  color: #ffff;
  font-size: 7rem;
  letter-spacing: 0.8rem;
}

.categoria-section p {
  color: #ffff;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}

.second .section-text, .fourth .section-text {
  text-align: right;
}
