html,
body {
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: bebas-kai, sans-serif;
}

p {
  font-family: 'Manrope', sans-serif;
}

.login-admin {
  display: flex;
}

.imagen-admin {
  width: 60%;
}

.imagen-admin img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.datos-admin {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.datos-admin img {
  width: 35%;
  margin: 10px 0;
}

.form-admin {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-admin input {
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: center;
}

.form-admin button {
  font-family: bebas-kai, sans-serif;
  font-size: 1.3rem;
  width: 180px;
  align-self: center;
  margin: 20px 0;
  border-radius: 15px;
  border: none;
  background-color: #6699cc;
  color: #ffff;
}

/*------------------------VENTANA PRINCIPAL - ADMIN--------------------*/
.menu-admin {
  display: flex;
  background-color: #DEEBFF;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: #636A85;
  margin-bottom: 10px;
}

.menu-admin ul {
  font-family: 'Manrope', sans-serif;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-around;
  width: 350px;
}


.menu-admin a {
  text-decoration: none;
  color: #636A85;
}

.menu-admin a:hover {
  color: #000000;
}

.about {
  display: flex;
  height: 200px;
  flex-flow: column;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 400px;
  text-align: justify;
}

.about h2, p {
  width: 100%;
}
